body {
    min-height: 100vh;
    padding-top: 4.5rem;
}

img {
    max-width: 100%;
}

a[data-gallery]:hover > img {
    outline: #d0927f 2px solid;
}

[data-caption]::after {
    content: attr(data-caption);
    text-align: center;
    display: block;
    opacity: 0.7;
    padding: 0.5em 0;
}

#page {
    color: #212529;
}

.layout {
    position: absolute;
    left: 0;
    top: 60px;
    right: 0;
    bottom: 0;
}

    .layout .sidebar {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 25%;
        margin-top: 1em;
        overflow-y: auto;
    }

        .layout .sidebar .list-group-item {
            border: none;
            padding: 0;
        }

        .layout .sidebar .treeview .list-group-item {
            padding-left: 0.5em;
        }

            .layout .sidebar .treeview .list-group-item:hover a {
                text-decoration: underline;
            }

    .layout .content {
        position: absolute;
        left: 25%;
        right: 0;
        top: 0;
        bottom: 0;
        margin-top: 1em;
        margin-left: 1em;
        margin-right: 0;
        margin-bottom: 0;
        padding-right: 1em;
        overflow-y: scroll;
    }

        .layout .content .alert p {
            margin: 0;
        }

.lum-lightbox {
    z-index: 2000;
    background: rgba(255,255,255,.95);
}
