@model ITGlobal.MarkDocs.Tools.Serve.Models.ImageModel
@{
    Layout = null;
}
<div class="d-flex justify-content-center">
    <a href="@Model.Url" data-thumbnail data-caption="@Model.Title">
        <img src="@Model.Url" alt="@Model.Alt" style="max-height: 300px;" />
    </a>
</div>