@using ITGlobal.MarkDocs
@model ITGlobal.MarkDocs.IPage

@{
    var nodes = new Stack<IPage>();

    var n = Model;
    while (n != null)
    {
        nodes.Push(n);
        n = n.Parent;
    }
}

<ol class="breadcrumb">
    @while (nodes.Count > 0)
    {
        var node = nodes.Pop();
        var url = $"/{Uri.EscapeDataString(Model.Documentation.Id)}/{node.Id}";
        var isActive = node.Id == Model.Id;

        <li class="@(isActive ? "active" : "")">
            <a href="@url">@node.Title</a>
        </li>
    }
</ol>