@model ITGlobal.MarkDocs.IPage

<ul class="list-group">
    @if (!string.IsNullOrEmpty(Model.Metadata.ContentId))
    {
        <li class="list-group-item">
            <samp>content_id=@Model.Metadata.ContentId</samp>
        </li>
    }
    @if (!string.IsNullOrEmpty(Model.Metadata.Title))
    {
        <li class="list-group-item">
            <samp>title=@Model.Metadata.Title</samp>
        </li>
    }
    @if (!string.IsNullOrEmpty(Model.Metadata.ShortTitle))
    {
        <li class="list-group-item">
            <samp>short_title=@Model.Metadata.ShortTitle</samp>
        </li>
    }
    @if (Model.Metadata.Order != 0)
    {
        <li class="list-group-item">
            <samp>order=@Model.Metadata.Order</samp>
        </li>
    }
    @if (Model.Metadata.Tags?.Any() == true)
    {
        <li class="list-group-item">
            <samp>tags=@(string.Join(", ", Model.Metadata.Tags))</samp>
        </li>
    }
</ul>