@using ITGlobal.MarkDocs.Example.Model
@model PageTreeModel

@{
    var url = $"/{Uri.EscapeDataString(Model.Documentation.Id)}";
    var isActive = string.IsNullOrEmpty(Model.Page.Id);
}

<ul class="page-tree">
    <li data-id="" class="@(isActive?"active":"")">
        <a href="@url">
            <i class="fa fa-fw fa-home"></i>
            <span>@Model.Documentation.Title</span>
        </a>
    </li>

    @foreach (var page in Model.Documentation.RootPage.NestedPages)
    {
        @(await Html.PartialAsync("Components/_PageTreeNode", new PageTreeNodeModel(page, Model.Page)))
    }
</ul>