@using ITGlobal.MarkDocs
@model ITGlobal.MarkDocs.IDocumentation
<dl>
    @foreach (var (path, msgs) in Model.CompilationReport.Messages.OrderBy(_ => _.Key))
    {
        <dt>~/@path</dt>
        <dd>
            <ul>
                @foreach (var m in msgs)
                {
                    var className = m.Type == CompilationReportMessageType.Error ? "text-danger" : "text-warning";
                    var typeName = m.Type == CompilationReportMessageType.Error ? "ERROR" : "WARNING";
                    <li class="@className">
                        @if (m.LineNumber != null)
                        {
                            <text>(at @m.LineNumber.Value)</text>
                        }
                        <strong>@typeName:</strong> @m.Message
                    </li>
                }
            </ul>
        </dd>
    }
</dl>