@model ITGlobal.MarkDocs.IDocumentation
<form class="form-inline" action="/_/search/@Model.Id" method="get">
    <div class="form-group">
        <input type="search" class="form-control" placeholder="Search" name="q">
    </div>
    <button type="submit" class="btn btn-default">
        <i class="fa fa-search"></i>
    </button>
</form>