@model ITGlobal.MarkDocs.IDocumentation

<ul class="list-group">
    <li class="list-group-item">
        <samp>source_url=@Model.SourceInfo.SourceUrl</samp>
    </li>
    <li class="list-group-item">
        <samp>version=@Model.SourceInfo.Version</samp>
    </li>
    <li class="list-group-item">
        <samp>last_change_time=@Model.SourceInfo.LastChangeTime</samp>
    </li>
    <li class="list-group-item">
        <samp>last_change_id=@Model.SourceInfo.LastChangeId</samp>
    </li>
    <li class="list-group-item">
        <samp>last_change_descr=@Model.SourceInfo.LastChangeDescription</samp>
    </li>
    <li class="list-group-item">
        <samp>last_change_by=@Model.SourceInfo.LastChangeAuthor</samp>
    </li>
</ul>