@model IReadOnlyList<IBlogPost>

@foreach (var post in Model)
{
    <div class="blog-post">
        <h2 class="blog-post-title">
            <a href="@post.Id">@post.Title</a>
        </h2>
        <p class="blog-post-meta">
            @post.Date.ToString("D") by <strong>@(post.Author ?? "unknown")</strong>
        </p>
    </div>
}
