@model MonthModel

@{
    ViewData["Title"] = $"Blog ({Model.Year}/{Model.Month})";
}

@{
    Html.RenderPartial("_List", Model.Posts);
}

<nav>
    <ul class="pager">
        @if (Model.Page > 1)
        {
            <li><a href="@Url.Action("Month", new { year = Model.Year, month = Model.Month, page = Model.Page-1})">Previous</a></li>
        }

        @if (Model.Page < Model.TotalPages)
        {
            <li><a href="@Url.Action("Month", new { year = Model.Year, month = Model.Month, page = Model.Page+1})">Next</a></li>
        }
    </ul>
</nav>