@model TagModel

@{
    ViewData["Title"] = "All posts by tag \"{Model.Tag.Name}\"";
}

@{
    await Html.RenderPartialAsync("_List", Model.Posts);
}

<nav>
    <ul class="pager">
        @if (Model.Page > 1)
        {
            <li><a href="@Url.Action("ByTag", new { name = Model.Tag.Name, page = Model.Page-1})">Previous</a></li>
        }

        @if (Model.Page < Model.TotalPages)
        {
            <li><a href="@Url.Action("ByTag", new { name = Model.Tag.Name,page = Model.Page+1})">Next</a></li>
        }
    </ul>
</nav>