@using ITGlobal.MarkDocs
@model ITGlobal.MarkDocs.ICompilationReport
@if (Model.Messages.Count > 0)
{
<div class="card mb-2">
    <div class="card-header" role="tab" id="headingOne">
        <h4 class="card-title">
            <a role="button" data-toggle="collapse" href="#compilation-report" aria-expanded="true" aria-controls="compilation-report">
                Errors and warnings
            </a>
        </h4>
    </div>
    <div id="compilation-report" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-body">
            <dl class="list-unstyled">
                @foreach (var (key, messages) in Model.Messages)
                    {
                <dt>
                    <samp>~/@key</samp>:
                </dt>
                <dd>
                    <ul>
                        @foreach (var m in messages)
                                {
                                    var style = "";
                                    switch (m.Type)
                                    {
                                        case CompilationReportMessageType.Warning:
                                            style = "text-warning";
                                            break;
                                        case CompilationReportMessageType.Error:
                                            style = "text-danger";
                                            break;
                                    }

                        <li class="@style">
                            @if (m.LineNumber != null)
                                            {
                            <text>(at line @m.LineNumber.Value)</text>
                                            }

                            @m.Message
                        </li>
                                }
                    </ul>
                </dd>
                    }
            </dl>
        </div>
    </div>
</div>
}